/* home.css */
.home-container {
  display: flex;
  height: 100vh;
  background-color: #f7f7f7; /* Very light gray background */
}

.sidebar {
  width: 25%; /* Sidebar takes up one-quarter of the page */
  background-color: #a2d9d9; /* Soft teal background */
  color: #333; /* Darker text for contrast */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start */
  justify-content: flex-start; /* Align items to the start */
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 10px;
  margin: 10px;
  border: 1px solid #ccc; /* Light gray border */
}

/* In your home.css or a separate CSS file */
.user-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  object-fit: cover;
  background-size: cover;
}


.user-name {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #444; /* Darker gray text */
}

.main-content {
  flex: 1; /* Main content takes up the remaining space */
  padding: 30px;
  background-color: #dbf9e5; /* Very light green background */
  border-radius: 10px;
  margin: 10px;
}

.main-content h1 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #333; /* Darker text for headers */
}

.main-content p {
  font-size: 1rem;
  color: #666; /* Soft gray text */
}

.sign-out-button {
  background-color: #fa8686; /* Soft muted red background */
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: auto; /* Push button to the bottom */
  transition: background-color 0.3s;
}

.sign-out-button:hover {
  background-color: #f14a4a; /* Slightly darker muted red on hover */
}
